.align {
    display: grid;
    place-items: center;
  }
  
.grid {
    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 20rem;
}

.login {
    margin-top:70%;
}

.signup {
    margin-top:25%;
}

.pass {
    margin-top:75%;
}
  
input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
    inline-size: 100%;
}
  
input[type="submit"] {
    cursor: pointer;
    background-color: #ea4c88;
    border-radius: .25rem;
    color: #eee;
    background-color:#d44179;
    font-weight: 700;
    text-transform: uppercase;
    padding:.75rem;
}

.text--center {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    color:white;
}